h1{font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;font-size:60px;color:#5e5b5b;}
h2{color: #FFF;font-family:"Century Gothic";font-size:15px;color:#ededed;margin:15px;}
h3{margin : 7px;color: #191919;font-family:"Century Gothic";font-size:10px;}
li {
margin-top:20px;
cursor: pointer;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;
font-weight:bold;
width:100%;
height:12px;
padding:2px ;

color:#7d8084;
display:block;
font-size:20px;}

body, html {
    height: 100%;
    margin: 0;
}
.body{
    background-image: url("BG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	
	.button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  padding: 3px ;
  margin:20px;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;

}
.button:hover{
	background-color:#808184;
	color:black;
}

	
.box {
position:absolute;
top:10%;
left:300px;
width:500px;
padding-bottom:50px;
opacity:0;
transition-duration: 0.9s;
  display: none;


}

.menu{
height:100%;
position:absolute;
align :left;
width:14%;
background:#000;
opacity:0.6;
filter:alpha(opacity=60);
margin:0px;
transition-duration: 0.9s;
padding:30px 0px 100px 0px;

}


.Box1{
background:#474747;
position:absolute;
top:60%;
Border-radius : 5px;
}

.tabcontent {

position:absolute;
opacity:0;
 margin:5px;
    border: none;
	  display: none;

}


}
